.article p {
  font-size: 1.125em;
  line-height: 1.7419354839;
}

.article h1,
.article h2 {
  display: block;
  font-size: 3em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.article h2 {
  font-size: 2em;
}

.article *:not(pre) > code {
  background-color: hsl(var(--muted));
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
}

/* .article pre code {
  display: block;
  padding: 20px;
} */

.article ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.article ol li {
  list-style-type: decimal;
  list-style-position: inside;
}

.article li li {
  margin-left: 15px;
}

.article blockquote {
  background-color: hsl(var(--muted));
  padding: 20px;
  border-radius: 5px;
  border-left: 3px hsl(var(--muted-foreground)) solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.article a {
  text-decoration: underline;
  color: hsl(var(--muted-foreground));
}

.article img {
  border-radius: 5px;
  max-height: 500px;
}

.article caption,
.article figcaption,
.article label {
  color: hsl(var(--muted-foreground));
  font-size: smaller;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
}
